body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px; /* Добавлено расстояние между карточками по горизонтали */
  margin-bottom: 20px; /* Добавлено расстояние между карточками по вертикали */
  border-radius: 10px; /* Добавлено скругление углов карточек */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Добавлена тень вокруг карточек */
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}
